* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  background-color: rgb(172, 172, 233);

}

#hamburgerBtn {
  position: absolute;
  top: 15px;
  left: 15px;
}

#hamburger {
  display: none;
}

#hamburger+label {
  display: block;
  width: 4vw;
  height: 4vh;
  position: relative;
  cursor: pointer;
}

#hamburger+label span {
  display: block;
  position: absolute;
  width: 80%;
  height: 7px;
  border-radius: 30px;
  background-color: rgb(132, 78, 143);
  transition: all 0.35s;
}

#hamburger+label span:nth-child(1) {
  top: 0;
}

#hamburger+label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#hamburger+label span:nth-child(3) {
  bottom: 0;
}

#hamburger:checked+label {
  z-index: 99;
}

#hamburger:checked+label+div {
  left: 0;
}

#sidebar {
  width: 20vw;
  height: 100vh;
  background: rgba(200, 148, 245, 0.689);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 98;
  transition: all 0.35s;
  display: flex;
  flex-direction: column;
}

#roomList {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5rem;
  flex-wrap: nowrap;
  overflow: auto;
  margin-top: 20px;
}

#home {
  text-align: center;
  position: relative;
  top: 75px;
  margin-bottom: 30px;
}

#roomList li {
  text-align: center;
  border: 1px solid rgb(88, 6, 88);
  color: aliceblue;
}


.sidebar a {
  color: whitesmoke;
  display: block;
  font-weight: bold;
  line-height: 40px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s;
  padding: 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
}


#user {
  width: 20vw;
  height: 10vh;
  text-align: center;
  position: relative;
  top: 80vh;
  font-size: 2rem;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(172, 172, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  width: 20vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
}

#chat {
  position: relative;
  width: 70vw;
  height: 70vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#chatInput {
  width: 40vw;
  height: 5vh;
  font-size: 1.5rem;
}

#chatBtn {
  width: 5vw;
  height: 3vh;
  margin: 10px;
  background-color: rgb(175, 131, 215);
  border: 0;
  color: white;
  cursor: pointer;
}

.message-container {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  margin: 2vw;
  font-size: 2rem;
  text-align: center;
}

.userMessageContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.userId{
  font-weight: bold;
  margin: 1vw;
}

.messageText{
  width: max-content;
  height: max-content;
  background-color: aliceblue;
  border-radius: 5%;
  padding: 15px;
  line-height: normal;
  margin-right: 10px;
}

.timestamp {
  color: lightgray;
  font-size: small;
  margin-left: 10px;
  position: relative;
  bottom: 30px;
}