* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  background-color: black;

}

#hamburgerBtn {
  position: absolute;
  top: 15px;
  left: 15px;
}

#hamburger {
  display: none;
}

#hamburger+label {
  display: block;
  width: 4vw;
  height: 4vh;
  position: relative;
  cursor: pointer;
}

#hamburger+label span {
  display: block;
  position: absolute;
  width: 80%;
  height: 7px;
  border-radius: 30px;
  background-color: #865DFF;
  transition: all 0.35s;
}

#hamburger+label span:nth-child(1) {
  top: 0;
}

#hamburger+label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#hamburger+label span:nth-child(3) {
  bottom: 0;
}

#hamburger:checked+label {
  z-index: 99;
}

#hamburger:checked+label+div {
  left: 0;
}

#sidebar {
  width: 20vw;
  height: 100vh;
  background-color: #f8b7f7;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 98;
  transition: all 0.35s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#roomList {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.2rem;
  flex-wrap: nowrap;
  overflow: auto;
}

h2 {
  text-align: center;
  position: relative;
  top: 80px;
}

#roomList li {
  text-align: center;
  color: aliceblue;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  list-style: none;
  background-color: #865DFF;
  margin-top: 60px;
}


.sidebar a {
  color: whitesmoke;
  display: block;
  font-weight: bold;
  line-height: 40px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s;
  padding: 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#user {
  width: 20vw;
  height: 10vh;
  text-align: center;
  position: relative;
  top: 80vh;
  font-size: 2rem;
  color: white;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  width: 20vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  
}
#chatInput {
  width: 40vw;
  height: 4vh;
  font-size: 1rem;
  margin-top: 3vh;
}

#chatBtn {
  width: 5vw;
  height: 3vh;
  margin: 10px;
  background-color: #865DFF;
  border: 0;
  color: white;
  cursor: pointer;
}

#chat {
  position: relative;
  width: 70vw;
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.message-container.left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
}

.message-container.right {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  margin: 2vw;
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
}

.userMessageContainer{
  display: flex;
  flex-direction: column;
}

.userId{
  font-weight: bold;
  margin: 1vw;
  color: aliceblue;
}

.messageText {
  max-width: 170px;
  background-color: #865DFF;
  color: aliceblue;
  border-radius: 5%;
  padding: 15px;
  word-wrap: break-word;
}

.timestamp.left {
  color: lightgray;
  font-size: small;
  margin-left: 10px;
  position: relative;
  top: 0;
  left: 150px;
}

.timestamp.right {
  color: lightgray;
  font-size: small;
  position: relative;
  top: 0;
  right: 160px;
}

